#### This notebook contains corressponding python code for performing the required queries

In [1]:
import pandas as pd
import datetime
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
engine = create_engine("postgresql://postgres:qwerty@localhost:5432/postgres")

##### Read tables from database

In [2]:
# read customer table
df_c=pd.read_sql_query('select * from public."Customer"',con=engine)
# read account table
df_a=pd.read_sql_query('select * from public."Account"',con=engine)
# read transaction table
df_t=pd.read_sql_query('select * from public."Transaction"',con=engine)

##### Customer table

In [3]:
df_c.head()

,id,Name,Email,customer_id,address,created_time
0,2,Ben Parker,ben@gmail.com,b07yrrujg4579hfk,"{'city': 'Tezpur', 'state': 'Assam'}",2020-01-23 14:57:23.512484-05:00
1,3,Max Parker,max@gmail.com,b07yrrujg4479hfk,"{'city': 'Kochi', 'state': 'Kerala'}",2020-03-23 15:57:23.512484-04:00
2,4,Jim Morrison,jim@yahoo.in,a07yrrujg4479hfk,"{'city': 'Guwahati', 'state': 'Assam'}",2020-03-23 15:54:23.512484-04:00
3,1,John Parker,john@gmail.com,b07yrrujg4578hfk,"{'city': 'D', 'state': 'Assam'}",2020-01-22 14:57:23.512484-05:00
4,12,Dummy Name8,None,None,{'state': 'Assam'},None

##### Account table

In [4]:
df_a.head()

,id,account_id,account_no,account_balance,created_time,user_id
0,3,a1,14\n,45000.0,2020-01-22 18:57:23.512484+00:00,3
1,1,a,12,10000.0,2020-01-22 19:57:23.512484+00:00,1
2,2,b,13,20000.0,2020-01-22 18:57:23.512484+00:00,2
3,4,b2,15,20000.0,2020-01-22 18:57:23.512484+00:00,4
4,5,b3\n\n,16,15000.0,2020-01-22 18:57:23.512484+00:00,5

##### Transaction table

In [5]:
df_t.head()

,amount,id,transaction_id,transaction_time,type,account_id
0,78.28,1,hy764k8hfh679ksn,2020-06-10 19:30:28.973662+00:00,CREDIT,1
1,50.00,17,None,2020-06-09 19:30:28.973662+00:00,DEBIT,17
2,50.00,19,None,2020-06-09 19:30:28.973662+00:00,DEBIT,19
3,50.00,76,None,2020-06-09 19:30:28.973662+00:00,DEBIT,20
4,50.00,20,None,2020-06-09 19:30:28.973662+00:00,CREDIT,22

In [6]:
# extract state for each user
df_c['state'] = df_c['address'].apply(lambda x : x['state'])

##### Task 1 : Fetch all state names and total of account balance for the users belonging to those states.

In [7]:
# group customers by states
groups = df_c.groupby('state')
print('State |\tTotal Account Balance')
print('_______________________________')
for name, gr in groups:
    customer_ids = gr['id'].unique().tolist()
    if len(customer_ids)>0:
        # filter Account table
        df_a_tmp = df_a[df_a['user_id'].isin(customer_ids)]
        total_account_balance = df_a_tmp['account_balance'].sum()
        print(f'{name} >> {total_account_balance}')

State |	Total Account Balance
_______________________________
Assam >> 210000.0
Delhi >> 255000.0
Karnataka >> 215000.0
Kerala >> 285000.0
Maharashtra >> 230000.0
Manipur >> 275000.0
Meghalaya >> 240000.0
Sikkim >> 295000.0

##### Task 2 : For the state with the highest account balance total, get the daily total of account balances for the past 10 days based on transaction history from the `Transaction` table.

In [8]:
#df_t[(df_t['date']>'2020-06-07')&((df_t['date']<'2020-06-09'))]
# Sikkim is the state with highest account balance of â‚¹295000.0
df_t['date'] = df_t['transaction_time'].apply(lambda x : str(x).split(' ')[0]) #extracting date
df_t = df_t.sort_values(by=['date'], ascending=False)
# get previous date
LATEST_DATE = df_t['date'][0]
y, m, d = LATEST_DATE.split('-')
d = datetime.date(int(y), int(m), int(d))
d_minus = str(d - datetime.timedelta(10))
customer_ids = df_c[df_c['state']=='Sikkim']['id'].unique().tolist() # customers of Sikkim
account_ids = df_a[df_a['user_id'].isin(customer_ids)]['id'].unique().tolist() # accounts of customers of Sikkim
df_t_last10days = df_t[(df_t['date']>d_minus)&((df_t['date']<=LATEST_DATE))]
df_tmp = df_t_last10days[df_t_last10days['account_id'].isin(account_ids)] #  transactions from accounts of these customers

STATE_BALANCE_TODAY = 295000 #hard coded for now can be replaced with code
d_ = str(d)
print('Date |\tState Total Account Balance')
print('_______________________________')
while (d_!=d_minus):
    df_sub = df_tmp[df_tmp['date']==d_]
    if (len(df_sub)>0):
        STATE_BALANCE_TODAY += df_sub[df_sub['type']=='DEBIT']['amount'].sum()
        STATE_BALANCE_TODAY -= df_sub[df_sub['type']=='CREDIT']['amount'].sum()
    print(f'{d_} >> {STATE_BALANCE_TODAY}')
    d = d - datetime.timedelta(1)
    d_ = str(d)

Date |	State Total Account Balance
_______________________________
2020-06-10 >> 295100.0
2020-06-09 >> 295100.0
2020-06-08 >> 295050.0
2020-06-07 >> 295050.0
2020-06-06 >> 295060.0
2020-06-05 >> 295260.0
2020-06-04 >> 295200.0
2020-06-03 >> 295200.0
2020-06-02 >> 295200.0
2020-06-01 >> 295210.0

##### Task 3 : Repeat Task 2 for 10 richest users belonging to each of the 5 poorest states.

In [9]:
### last 10 day transactions
LATEST_DATE = df_t['date'][0]
y, m, dy = LATEST_DATE.split('-')
d = datetime.date(int(y), int(m), int(dy))
d_minus = str(d - datetime.timedelta(10))
df_t_last10days = df_t[(df_t['date']>d_minus)&((df_t['date']<=LATEST_DATE))]


### poorest states 
poor_5_states = ['Assam','Karnataka','Maharashtra','Meghalaya','Delhi'] #hard coded for now can be replaced with code
for state in poor_5_states:
    customer_ids = df_c[df_c['state']==state]['id'].unique().tolist()
    df_a_state = df_a[df_a['user_id'].isin(customer_ids)]
    richest_users_10 = df_a_state.groupby('user_id').agg({'account_balance':'sum'}).reset_index().sort_values(by=['account_balance'],ascending=False)[:10]['user_id'].unique().tolist()
    print(state,' : Richest 10 user ids last 10 day balance')
    print('______________________________________________________________________________')
    for user in richest_users_10:
        print('User Id =',user)
        ac_ids = df_a[df_a['user_id']==user]['id'].unique().tolist() # corressponding account ids
        df_sub = df_t_last10days[df_t_last10days['account_id'].isin(ac_ids)] # corressponding transaction ids
        USER_BALANCE_TODAY = df_a[df_a['id'].isin(ac_ids)]['account_balance'].sum() # user balance as of today
        d = datetime.date(int(y), int(m), int(dy))
        d_ = str(d)
        while (d_!=d_minus):
            df_sub1 = df_sub[df_sub['date']==d_]
            if (len(df_sub1)>0):
                USER_BALANCE_TODAY += df_sub1[df_sub1['type']=='DEBIT']['amount'].sum()
                USER_BALANCE_TODAY -= df_sub1[df_sub1['type']=='CREDIT']['amount'].sum()
            print(f'{d_} -> {USER_BALANCE_TODAY}')
            d = d - datetime.timedelta(1)
            d_ = str(d)
    print('______________________________________________________________________________')

Assam  : Richest 10 user ids last 10 day balance
______________________________________________________________________________
User Id = 2
2020-06-10 -> 20000.0
2020-06-09 -> 20000.0
2020-06-08 -> 20010.0
2020-06-07 -> 20010.0
2020-06-06 -> 20010.0
2020-06-05 -> 20010.0
2020-06-04 -> 20010.0
2020-06-03 -> 20010.0
2020-06-02 -> 20010.0
2020-06-01 -> 20010.0
User Id = 4
2020-06-10 -> 20000.0
2020-06-09 -> 20000.0
2020-06-08 -> 20000.0
2020-06-07 -> 20000.0
2020-06-06 -> 20000.0
2020-06-05 -> 20000.0
2020-06-04 -> 20000.0
2020-06-03 -> 20000.0
2020-06-02 -> 20020.0
2020-06-01 -> 20020.0
User Id = 6
2020-06-10 -> 20050.0
2020-06-09 -> 20050.0
2020-06-08 -> 20050.0
2020-06-07 -> 20050.0
2020-06-06 -> 20050.0
2020-06-05 -> 20050.0
2020-06-04 -> 20050.0
2020-06-03 -> 20050.0
2020-06-02 -> 20050.0
2020-06-01 -> 20050.0
User Id = 8
2020-06-10 -> 20200.0
2020-06-09 -> 20200.0
2020-06-08 -> 20200.0
2020-06-07 -> 20200.0
2020-06-06 -> 20200.0
2020-06-05 -> 20200.0
2020-06-04 -> 20100.0
2020-06-03 -> 20100.0
2020-06-02 -> 20100.0
2020-06-01 -> 20100.0
User Id = 10
2020-06-10 -> 20200.0
2020-06-09 -> 20200.0
2020-06-08 -> 20200.0
2020-06-07 -> 20200.0
2020-06-06 -> 20200.0
2020-06-05 -> 20200.0
2020-06-04 -> 20200.0
2020-06-03 -> 20200.0
2020-06-02 -> 20200.0
2020-06-01 -> 20200.0
User Id = 11
2020-06-10 -> 20000.0
2020-06-09 -> 20000.0
2020-06-08 -> 20000.0
2020-06-07 -> 19900.0
2020-06-06 -> 19900.0
2020-06-05 -> 19900.0
2020-06-04 -> 19900.0
2020-06-03 -> 19900.0
2020-06-02 -> 19900.0
2020-06-01 -> 19900.0
User Id = 13
2020-06-10 -> 20050.0
2020-06-09 -> 20050.0
2020-06-08 -> 20050.0
2020-06-07 -> 20050.0
2020-06-06 -> 20050.0
2020-06-05 -> 20050.0
2020-06-04 -> 20000.0
2020-06-03 -> 20000.0
2020-06-02 -> 20000.0
2020-06-01 -> 20000.0
User Id = 5
2020-06-10 -> 14975.0
2020-06-09 -> 14975.0
2020-06-08 -> 14975.0
2020-06-07 -> 14975.0
2020-06-06 -> 14975.0
2020-06-05 -> 14975.0
2020-06-04 -> 14975.0
2020-06-03 -> 14975.0
2020-06-02 -> 14975.0
2020-06-01 -> 14975.0
User Id = 7
2020-06-10 -> 15000.0
2020-06-09 -> 15000.0
2020-06-08 -> 14900.0
2020-06-07 -> 14900.0
2020-06-06 -> 14900.0
2020-06-05 -> 14900.0
2020-06-04 -> 14900.0
2020-06-03 -> 14900.0
2020-06-02 -> 14900.0
2020-06-01 -> 14900.0
User Id = 9
2020-06-10 -> 14500.0
2020-06-09 -> 14500.0
2020-06-08 -> 14500.0
2020-06-07 -> 14500.0
2020-06-06 -> 14500.0
2020-06-05 -> 14500.0
2020-06-04 -> 14500.0
2020-06-03 -> 14500.0
2020-06-02 -> 14500.0
2020-06-01 -> 14500.0
______________________________________________________________________________
Karnataka  : Richest 10 user ids last 10 day balance
______________________________________________________________________________
User Id = 28
2020-06-10 -> 20000.0
2020-06-09 -> 20000.0
2020-06-08 -> 20050.0
2020-06-07 -> 20050.0
2020-06-06 -> 20050.0
2020-06-05 -> 20050.0
2020-06-04 -> 20050.0
2020-06-03 -> 20050.0
2020-06-02 -> 20050.0
2020-06-01 -> 20050.0
User Id = 29
2020-06-10 -> 20000.0
2020-06-09 -> 20000.0
2020-06-08 -> 20100.0
2020-06-07 -> 20100.0
2020-06-06 -> 20100.0
2020-06-05 -> 20100.0
2020-06-04 -> 20100.0
2020-06-03 -> 20100.0
2020-06-02 -> 20100.0
2020-06-01 -> 20100.0
User Id = 31
2020-06-10 -> 20000.0
2020-06-09 -> 20000.0
2020-06-08 -> 20100.0
2020-06-07 -> 20100.0
2020-06-06 -> 20100.0
2020-06-05 -> 20100.0
2020-06-04 -> 20100.0
2020-06-03 -> 20100.0
2020-06-02 -> 20100.0
2020-06-01 -> 20100.0
User Id = 32
2020-06-10 -> 20000.0
2020-06-09 -> 20000.0
2020-06-08 -> 20050.0
2020-06-07 -> 20050.0
2020-06-06 -> 20050.0
2020-06-05 -> 20050.0
2020-06-04 -> 20050.0
2020-06-03 -> 20050.0
2020-06-02 -> 20050.0
2020-06-01 -> 20050.0
User Id = 34
2020-06-10 -> 20000.0
2020-06-09 -> 20050.0
2020-06-08 -> 20050.0
2020-06-07 -> 20050.0
2020-06-06 -> 20050.0
2020-06-05 -> 20050.0
2020-06-04 -> 20050.0
2020-06-03 -> 20050.0
2020-06-02 -> 20050.0
2020-06-01 -> 20050.0
User Id = 35
2020-06-10 -> 20000.0
2020-06-09 -> 20000.0
2020-06-08 -> 20000.0
2020-06-07 -> 19990.0
2020-06-06 -> 19990.0
2020-06-05 -> 19990.0
2020-06-04 -> 19990.0
2020-06-03 -> 19990.0
2020-06-02 -> 19990.0
2020-06-01 -> 19990.0
User Id = 37
2020-06-10 -> 20000.0
2020-06-09 -> 20000.0
2020-06-08 -> 20000.0
2020-06-07 -> 20050.0
2020-06-06 -> 20050.0
2020-06-05 -> 20050.0
2020-06-04 -> 20050.0
2020-06-03 -> 20050.0
2020-06-02 -> 20050.0
2020-06-01 -> 20050.0
User Id = 27
2020-06-10 -> 15000.0
2020-06-09 -> 15000.0
2020-06-08 -> 15050.0
2020-06-07 -> 15050.0
2020-06-06 -> 15050.0
2020-06-05 -> 15050.0
2020-06-04 -> 15050.0
2020-06-03 -> 15050.0
2020-06-02 -> 15050.0
2020-06-01 -> 15050.0
User Id = 30
2020-06-10 -> 15000.0
2020-06-09 -> 15000.0
2020-06-08 -> 14950.0
2020-06-07 -> 14950.0
2020-06-06 -> 14950.0
2020-06-05 -> 14950.0
2020-06-04 -> 14950.0
2020-06-03 -> 14950.0
2020-06-02 -> 14950.0
2020-06-01 -> 14950.0
User Id = 33
2020-06-10 -> 15000.0
2020-06-09 -> 15000.0
2020-06-08 -> 14990.0
2020-06-07 -> 14990.0
2020-06-06 -> 14990.0
2020-06-05 -> 14990.0
2020-06-04 -> 14990.0
2020-06-03 -> 14990.0
2020-06-02 -> 14990.0
2020-06-01 -> 14990.0
______________________________________________________________________________
Maharashtra  : Richest 10 user ids last 10 day balance
______________________________________________________________________________
User Id = 75
2020-06-10 -> 30000.0
2020-06-09 -> 30000.0
2020-06-08 -> 30000.0
2020-06-07 -> 30000.0
2020-06-06 -> 30000.0
2020-06-05 -> 30000.0
2020-06-04 -> 30000.0
2020-06-03 -> 30010.0
2020-06-02 -> 30010.0
2020-06-01 -> 30010.0
User Id = 84
2020-06-10 -> 30000.0
2020-06-09 -> 30000.0
2020-06-08 -> 30000.0
2020-06-07 -> 30000.0
2020-06-06 -> 30000.0
2020-06-05 -> 30000.0
2020-06-04 -> 30000.0
2020-06-03 -> 30000.0
2020-06-02 -> 30000.0
2020-06-01 -> 29950.0
User Id = 76
2020-06-10 -> 20000.0
2020-06-09 -> 20000.0
2020-06-08 -> 20000.0
2020-06-07 -> 20000.0
2020-06-06 -> 20000.0
2020-06-05 -> 20000.0
2020-06-04 -> 20000.0
2020-06-03 -> 19950.0
2020-06-02 -> 19950.0
2020-06-01 -> 19950.0
User Id = 78
2020-06-10 -> 20000.0
2020-06-09 -> 20000.0
2020-06-08 -> 20000.0
2020-06-07 -> 20000.0
2020-06-06 -> 20000.0
2020-06-05 -> 20000.0
2020-06-04 -> 20000.0
2020-06-03 -> 20050.0
2020-06-02 -> 20050.0
2020-06-01 -> 20050.0
User Id = 85
2020-06-10 -> 20000.0
2020-06-09 -> 20000.0
2020-06-08 -> 20000.0
2020-06-07 -> 20000.0
2020-06-06 -> 20000.0
2020-06-05 -> 20000.0
2020-06-04 -> 20000.0
2020-06-03 -> 20000.0
2020-06-02 -> 20000.0
2020-06-01 -> 20050.0
User Id = 86
2020-06-10 -> 20000.0
2020-06-09 -> 20000.0
2020-06-08 -> 20000.0
2020-06-07 -> 20000.0
2020-06-06 -> 20000.0
2020-06-05 -> 20000.0
2020-06-04 -> 20000.0
2020-06-03 -> 20000.0
2020-06-02 -> 20000.0
2020-06-01 -> 20100.0
User Id = 77
2020-06-10 -> 15000.0
2020-06-09 -> 15000.0
2020-06-08 -> 15000.0
2020-06-07 -> 15000.0
2020-06-06 -> 15000.0
2020-06-05 -> 15000.0
2020-06-04 -> 15000.0
2020-06-03 -> 15010.0
2020-06-02 -> 15010.0
2020-06-01 -> 15010.0
User Id = 79
2020-06-10 -> 15000.0
2020-06-09 -> 15000.0
2020-06-08 -> 15000.0
2020-06-07 -> 15000.0
2020-06-06 -> 15000.0
2020-06-05 -> 15000.0
2020-06-04 -> 15000.0
2020-06-03 -> 15000.0
2020-06-02 -> 14950.0
2020-06-01 -> 14950.0
User Id = 80
2020-06-10 -> 15000.0
2020-06-09 -> 15000.0
2020-06-08 -> 15000.0
2020-06-07 -> 15000.0
2020-06-06 -> 15000.0
2020-06-05 -> 15000.0
2020-06-04 -> 15000.0
2020-06-03 -> 15000.0
2020-06-02 -> 15050.0
2020-06-01 -> 15050.0
User Id = 81
2020-06-10 -> 15000.0
2020-06-09 -> 15000.0
2020-06-08 -> 15000.0
2020-06-07 -> 15000.0
2020-06-06 -> 15000.0
2020-06-05 -> 15000.0
2020-06-04 -> 15000.0
2020-06-03 -> 15000.0
2020-06-02 -> 14990.0
2020-06-01 -> 14990.0
______________________________________________________________________________
Meghalaya  : Richest 10 user ids last 10 day balance
______________________________________________________________________________
User Id = 59
2020-06-10 -> 30000.0
2020-06-09 -> 30000.0
2020-06-08 -> 30000.0
2020-06-07 -> 30000.0
2020-06-06 -> 30000.0
2020-06-05 -> 30000.0
2020-06-04 -> 30000.0
2020-06-03 -> 30000.0
2020-06-02 -> 30000.0
2020-06-01 -> 30000.0
User Id = 51
2020-06-10 -> 20000.0
2020-06-09 -> 20000.0
2020-06-08 -> 20000.0
2020-06-07 -> 20000.0
2020-06-06 -> 20050.0
2020-06-05 -> 20050.0
2020-06-04 -> 20050.0
2020-06-03 -> 20050.0
2020-06-02 -> 20050.0
2020-06-01 -> 20050.0
User Id = 52
2020-06-10 -> 20000.0
2020-06-09 -> 20000.0
2020-06-08 -> 20000.0
2020-06-07 -> 20000.0
2020-06-06 -> 20000.0
2020-06-05 -> 19950.0
2020-06-04 -> 19950.0
2020-06-03 -> 19950.0
2020-06-02 -> 19950.0
2020-06-01 -> 19950.0
User Id = 55
2020-06-10 -> 20000.0
2020-06-09 -> 20000.0
2020-06-08 -> 20000.0
2020-06-07 -> 20000.0
2020-06-06 -> 20000.0
2020-06-05 -> 19900.0
2020-06-04 -> 19900.0
2020-06-03 -> 19900.0
2020-06-02 -> 19900.0
2020-06-01 -> 19900.0
User Id = 56
2020-06-10 -> 20000.0
2020-06-09 -> 20000.0
2020-06-08 -> 20000.0
2020-06-07 -> 20000.0
2020-06-06 -> 20000.0
2020-06-05 -> 20010.0
2020-06-04 -> 20010.0
2020-06-03 -> 20010.0
2020-06-02 -> 20010.0
2020-06-01 -> 20010.0
User Id = 57
2020-06-10 -> 20000.0
2020-06-09 -> 20000.0
2020-06-08 -> 20000.0
2020-06-07 -> 20000.0
2020-06-06 -> 20000.0
2020-06-05 -> 20050.0
2020-06-04 -> 20050.0
2020-06-03 -> 20050.0
2020-06-02 -> 20050.0
2020-06-01 -> 20050.0
User Id = 58
2020-06-10 -> 20000.0
2020-06-09 -> 20000.0
2020-06-08 -> 20000.0
2020-06-07 -> 20000.0
2020-06-06 -> 20000.0
2020-06-05 -> 20000.0
2020-06-04 -> 19900.0
2020-06-03 -> 19900.0
2020-06-02 -> 19900.0
2020-06-01 -> 19900.0
User Id = 60
2020-06-10 -> 20000.0
2020-06-09 -> 20000.0
2020-06-08 -> 20000.0
2020-06-07 -> 20000.0
2020-06-06 -> 20000.0
2020-06-05 -> 20000.0
2020-06-04 -> 19900.0
2020-06-03 -> 19900.0
2020-06-02 -> 19900.0
2020-06-01 -> 19900.0
User Id = 61
2020-06-10 -> 20000.0
2020-06-09 -> 20000.0
2020-06-08 -> 20000.0
2020-06-07 -> 20000.0
2020-06-06 -> 20000.0
2020-06-05 -> 20000.0
2020-06-04 -> 20050.0
2020-06-03 -> 20050.0
2020-06-02 -> 20050.0
2020-06-01 -> 20050.0
User Id = 62
2020-06-10 -> 20000.0
2020-06-09 -> 20000.0
2020-06-08 -> 20000.0
2020-06-07 -> 20000.0
2020-06-06 -> 20000.0
2020-06-05 -> 20000.0
2020-06-04 -> 20000.0
2020-06-03 -> 20000.0
2020-06-02 -> 20000.0
2020-06-01 -> 20000.0
______________________________________________________________________________
Delhi  : Richest 10 user ids last 10 day balance
______________________________________________________________________________
User Id = 63
2020-06-10 -> 30000.0
2020-06-09 -> 30000.0
2020-06-08 -> 30000.0
2020-06-07 -> 30000.0
2020-06-06 -> 30000.0
2020-06-05 -> 30000.0
2020-06-04 -> 29950.0
2020-06-03 -> 29950.0
2020-06-02 -> 29950.0
2020-06-01 -> 29950.0
User Id = 69
2020-06-10 -> 30000.0
2020-06-09 -> 30000.0
2020-06-08 -> 30000.0
2020-06-07 -> 30000.0
2020-06-06 -> 30000.0
2020-06-05 -> 30000.0
2020-06-04 -> 30050.0
2020-06-03 -> 30050.0
2020-06-02 -> 30050.0
2020-06-01 -> 30050.0
User Id = 70
2020-06-10 -> 30000.0
2020-06-09 -> 30000.0
2020-06-08 -> 30000.0
2020-06-07 -> 30000.0
2020-06-06 -> 30000.0
2020-06-05 -> 30000.0
2020-06-04 -> 30000.0
2020-06-03 -> 30100.0
2020-06-02 -> 30100.0
2020-06-01 -> 30100.0
User Id = 64
2020-06-10 -> 20000.0
2020-06-09 -> 20000.0
2020-06-08 -> 20000.0
2020-06-07 -> 20000.0
2020-06-06 -> 20000.0
2020-06-05 -> 20000.0
2020-06-04 -> 20050.0
2020-06-03 -> 20050.0
2020-06-02 -> 20050.0
2020-06-01 -> 20050.0
User Id = 65
2020-06-10 -> 20000.0
2020-06-09 -> 20000.0
2020-06-08 -> 20000.0
2020-06-07 -> 20000.0
2020-06-06 -> 20000.0
2020-06-05 -> 20000.0
2020-06-04 -> 20050.0
2020-06-03 -> 20050.0
2020-06-02 -> 20050.0
2020-06-01 -> 20050.0
User Id = 67
2020-06-10 -> 20000.0
2020-06-09 -> 20000.0
2020-06-08 -> 20000.0
2020-06-07 -> 20000.0
2020-06-06 -> 20000.0
2020-06-05 -> 20000.0
2020-06-04 -> 19900.0
2020-06-03 -> 19900.0
2020-06-02 -> 19900.0
2020-06-01 -> 19900.0
User Id = 68
2020-06-10 -> 20000.0
2020-06-09 -> 20000.0
2020-06-08 -> 20000.0
2020-06-07 -> 20000.0
2020-06-06 -> 20000.0
2020-06-05 -> 20000.0
2020-06-04 -> 20050.0
2020-06-03 -> 20050.0
2020-06-02 -> 20050.0
2020-06-01 -> 20050.0
User Id = 72
2020-06-10 -> 20000.0
2020-06-09 -> 20000.0
2020-06-08 -> 20000.0
2020-06-07 -> 20000.0
2020-06-06 -> 20000.0
2020-06-05 -> 20000.0
2020-06-04 -> 20000.0
2020-06-03 -> 20100.0
2020-06-02 -> 20100.0
2020-06-01 -> 20100.0
User Id = 74
2020-06-10 -> 20000.0
2020-06-09 -> 20000.0
2020-06-08 -> 20000.0
2020-06-07 -> 20000.0
2020-06-06 -> 20000.0
2020-06-05 -> 20000.0
2020-06-04 -> 20000.0
2020-06-03 -> 20050.0
2020-06-02 -> 20050.0
2020-06-01 -> 20050.0
User Id = 66
2020-06-10 -> 15000.0
2020-06-09 -> 15000.0
2020-06-08 -> 15000.0
2020-06-07 -> 15000.0
2020-06-06 -> 15000.0
2020-06-05 -> 15000.0
2020-06-04 -> 15010.0
2020-06-03 -> 15010.0
2020-06-02 -> 15010.0
2020-06-01 -> 15010.0
______________________________________________________________________________

##### Task 4 : Find the weekly sum of daily differences between c. and d.

In [10]:
groups = df_t.groupby(['date','type']).agg({'amount':'sum'}).reset_index().groupby('date')
dt = []
diff = []
for date, gr in groups:
    c = gr[gr['type']=='CREDIT']['amount'].sum()
    d = gr[gr['type']=='DEBIT']['amount'].sum()
    dt.append(date)
    diff.append(c-d)
dfw = pd.DataFrame({'date':dt, 'diff':diff}).reset_index(drop=True)
indices = [[i,i+7] for i in range(0, len(dfw), 7)]
if indices[-1][1]>len(dfw):
    indices[-1][1] = len(dfw)
for i,j in indices:
    print('Week start date:',dfw['date'][0])
    print('Difference of credit-debit:',dfw[i:j]['diff'].sum())

Week start date: 2020-05-21
Difference of credit-debit: -560.0
Week start date: 2020-05-21
Difference of credit-debit: -515.0
Week start date: 2020-05-21
Difference of credit-debit: -696.72

##### Task 5 : Top 5 users from each state based on sum of transaction amount in the last 2 weeks, sum of the transaction amount for each of these users and sum of transaction amount of these 5 users combined for that state.

In [11]:
LATEST_DATE = df_t['date'][0]
y, m, dy = LATEST_DATE.split('-')
d = datetime.date(int(y), int(m), int(dy))
d_minus = str(d - datetime.timedelta(14))
df_t_last2weeks = df_t[(df_t['date']>d_minus)&((df_t['date']<=LATEST_DATE))]
df_tsum = df_t_last2weeks.groupby('account_id').agg({'amount':'sum'}).reset_index()
state_dict = dict(zip(df_c['id'],df_c['state'])) # dict of {customer_id : state}
df_a['state'] = df_a['user_id'].map(state_dict)
dfo = pd.merge(df_tsum, df_a[['id','user_id','state']],left_on='account_id',right_on='id',how='inner')
df_sum = dfo.groupby(['state','user_id']).agg({'amount':'sum'}).reset_index()

In [12]:
print('Top 5 users stats')
top_users = []
for name, gr in df_sum.groupby('state'):
    print('State >> ', name)
    print('User_Id\tTransaction Amount')
    dftmp = gr.sort_values(by=['amount'],ascending=False).reset_index(drop=True)
    for i in range(5):
        top_users.append(dftmp['user_id'][i])
        print(dftmp['user_id'][i],'\t',dftmp['amount'][i])

Top 5 users stats
State >>  Assam
User_Id	Transaction Amount
9 	 500.0
8 	 300.0
10 	 200.0
6 	 150.0
1 	 128.28
State >>  Delhi
User_Id	Transaction Amount
67 	 100.0
70 	 100.0
72 	 100.0
63 	 50.0
64 	 50.0
State >>  Karnataka
User_Id	Transaction Amount
29 	 100.0
31 	 100.0
27 	 50.0
28 	 50.0
30 	 50.0
State >>  Kerala
User_Id	Transaction Amount
16 	 100.0
21 	 100.0
24 	 100.0
15 	 50.0
17 	 50.0
State >>  Maharashtra
User_Id	Transaction Amount
83 	 100.0
86 	 100.0
76 	 50.0
78 	 50.0
79 	 50.0
State >>  Manipur
User_Id	Transaction Amount
46 	 100.0
39 	 50.0
40 	 50.0
42 	 50.0
43 	 50.0
State >>  Meghalaya
User_Id	Transaction Amount
53 	 100.0
55 	 100.0
58 	 100.0
60 	 100.0
51 	 50.0
State >>  Sikkim
User_Id	Transaction Amount
93 	 300.0
91 	 150.0
99 	 150.0
90 	 100.0
94 	 100.0

##### Task 6 : State wise cumulative daily sum of transaction amount for users from each state who are present in a.(tpp 5 users)

In [13]:
df_atop = df_a[df_a['user_id'].isin(top_users)]# filter top users in account table
dfd = pd.merge(df_t[['amount','date','account_id']], df_atop[['id','user_id','state']],
              left_on='account_id',right_on='id',how='inner')
dfd.groupby(['state','date','user_id']).agg({'amount':'sum'}).reset_index()

          state        date  user_id  amount
0         Assam  2020-05-25       10   10.00
1         Assam  2020-05-26        9   50.00
2         Assam  2020-05-28        6  100.00
3         Assam  2020-05-29        1   50.00
4         Assam  2020-06-04        8  100.00
5         Assam  2020-06-10        1   78.28
6         Assam  2020-06-10        6   50.00
7         Assam  2020-06-10        8  200.00
8         Assam  2020-06-10        9  500.00
9         Assam  2020-06-10       10  200.00
10        Delhi  2020-06-03       70  100.00
11        Delhi  2020-06-03       72  100.00
12        Delhi  2020-06-04       63   50.00
13        Delhi  2020-06-04       64   50.00
14        Delhi  2020-06-04       67  100.00
15    Karnataka  2020-06-08       27   50.00
16    Karnataka  2020-06-08       28   50.00
17    Karnataka  2020-06-08       29  100.00
18    Karnataka  2020-06-08       30   50.00
19    Karnataka  2020-06-08       31  100.00
20       Kerala  2020-05-21       15   10.00
21       Kerala  2020-06-09       16  100.00
22       Kerala  2020-06-09       17   50.00
23       Kerala  2020-06-09       21  100.00
24       Kerala  2020-06-09       24  100.00
25       Kerala  2020-06-10       15   50.00
26  Maharashtra  2020-06-01       83  100.00
27  Maharashtra  2020-06-01       86  100.00
28  Maharashtra  2020-06-02       79   50.00
29  Maharashtra  2020-06-03       76   50.00
30  Maharashtra  2020-06-03       78   50.00
31      Manipur  2020-06-06       46  100.00
32      Manipur  2020-06-07       39   50.00
33      Manipur  2020-06-07       40   50.00
34      Manipur  2020-06-07       42   50.00
35      Manipur  2020-06-07       43   50.00
36    Meghalaya  2020-06-04       53  100.00
37    Meghalaya  2020-06-04       58  100.00
38    Meghalaya  2020-06-04       60  100.00
39    Meghalaya  2020-06-05       55  100.00
40    Meghalaya  2020-06-06       51   50.00
41       Sikkim  2020-05-29       99   50.00
42       Sikkim  2020-05-30       93  100.00
43       Sikkim  2020-05-30       94  100.00
44       Sikkim  2020-05-31       90   50.00
45       Sikkim  2020-05-31       91   50.00
46       Sikkim  2020-06-04       99  100.00
47       Sikkim  2020-06-05       93  200.00
48       Sikkim  2020-06-08       90   50.00
49       Sikkim  2020-06-10       91  100.00

##### Task 7 : Fetch and display state wise account balance sum of all such users who are present

In [14]:
df_a[df_a['user_id'].isin(top_users)].groupby('state').agg({'account_balance':'sum'}).reset_index()

         state  account_balance
0        Assam          85000.0
1        Delhi         120000.0
2    Karnataka          90000.0
3       Kerala          85000.0
4  Maharashtra          90000.0
5      Manipur         105000.0
6    Meghalaya          95000.0
7       Sikkim         100000.0